<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Lab2 Servlet</display-name>
  <description>Lab2 for SER422</description>

  <servlet>
    <servlet-name>Lab2IndexServlet</servlet-name>
    <servlet-class>IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Welcome</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
    <init-param>
    		<param-name>userList</param-name>
    		<param-value>users.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Lab2Controller</servlet-name>
    <servlet-class>Controller</servlet-class>
    <init-param>
    		<param-name>userList</param-name>
    		<param-value>users.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Lab2UserController</servlet-name>
    <servlet-class>UserController</servlet-class>
    <init-param>
    		<param-name>userList</param-name>
    		<param-value>users.txt</param-value>
  	</init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Lab2UserCListView</servlet-name>
    <servlet-class>UserCListView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2UserCDeleteView</servlet-name>
    <servlet-class>UserCDeleteView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Page2View</servlet-name>
    <servlet-class>Page2View</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Page3View</servlet-name>
    <servlet-class>Page3View</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Page4View</servlet-name>
    <servlet-class>Page4View</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Page5View</servlet-name>
    <servlet-class>Page5View</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Page6View</servlet-name>
    <servlet-class>Page6View</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2ErrorView</servlet-name>
    <servlet-class>ErrorView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lab2Error2View</servlet-name>
    <servlet-class>Error2View</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Lab2IndexServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2UserController</servlet-name>
    <url-pattern>/usercontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2UserCListView</servlet-name>
    <url-pattern>/ShowList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2UserCDeleteView</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Page2View</servlet-name>
    <url-pattern>/Page2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Page3View</servlet-name>
    <url-pattern>/Page3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Page4View</servlet-name>
    <url-pattern>/Page4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Page5View</servlet-name>
    <url-pattern>/Page5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Page6View</servlet-name>
    <url-pattern>/Page6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2ErrorView</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lab2Error2View</servlet-name>
    <url-pattern>/Error2</url-pattern>
  </servlet-mapping>


</web-app>